name: publish to PyPI

on:
  push:
    tags:
      - "v*.*.*"

permissions:
  id-token: write
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v4
      - run: uv python install 3.12
      - run: uv sync --all-extras --dev

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        run: uv publish
