name: tests

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
    tags:
      - "v*.*.*"

jobs:
  linters:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        just-trigger: [ format, lint, mypy ]
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - uses: astral-sh/setup-uv@v4
      - run: uv python install 3.12
      - run: uv sync --all-extras --dev
      - run: just ${{ matrix.just-trigger }}

  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ "3.10", "3.11", "3.12", "3.13" ]
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v2
      - uses: astral-sh/setup-uv@v4

      - run: uv python install ${{ matrix.python-version }}
      - run: uv sync --all-extras --dev

      - name: Run tests
        run: just tests

      - name: Upload coverage to Coveralls
        if: matrix.python-version == '3.12'
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: tests.lcov
